@model IEnumerable<ISpanSTA.ViewModel.CExamPaperViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .super_container {
        background-color: beige;
    }

    #divSty {
        border: 5px solid #666;
        border-radius: 20px;
        background-color: white;
        box-shadow: 6px 10px 6px #000;
    }

    .topImg {
        height: 200px;
        align-content: center;
        background-color: darkgreen;
        border-radius: 10px;
        box-shadow: 6px 10px 6px #000;
        text-align: center;
        line-height: 200px;
    }

    .card {
        border: 5px solid #666;
        border-radius: 10px;
    }
  
</style>

<div class="container mt-5 topImg">
    <img src="~/images/iSpanExam.png" />
</div>
<div class="container mt-3" id="divSty">
    <br />
    <div>班級:@Html.DisplayFor(modelItem => @Model.ToList()[0].FClassPeriod)</div>
    <div style="height:2000px">
        @foreach (var item in Model)
        {

            <div class="container mt-5">
                <div class="card border-success mb-3" style="width: 25%;height:430px;float:left;margin:20px">
                    <div class="card-header bg-transparent border-success" style="color:purple"> @Html.DisplayFor(modelItem => item.FCourseName)</div>
                    <div class="card-body text-success">
                        <h3 class="card-title">@Html.DisplayFor(modelItem => item.FName)</h3>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.FDescription)</p>

                    </div>
                    <div class="card-body text-success">
                        <p class="card-text" style="color:blue">開始日：@Html.DisplayFor(modelItem => item.FBegin)</p>
                        <p class="card-text" style="color:red">截止日：@Html.DisplayFor(modelItem => item.FEnd)</p>
                        <p class="card-text" style="color:blueviolet">解答公布日：@Html.DisplayFor(modelItem => item.FReveal)</p>
                        <p class="card-text" style="color:red">時間限制：@Html.DisplayFor(modelItem => item.FTimeLimit)分鐘</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        @*<a href="#" class=" btn btn-info card-link">Card link</a>
                            <a href="#" class=" btn btn-outline-danger card-link">Another link</a>*@
                        <button type="button" class="btn btn-outline-success" id="btnStart"><i class="fas fa-sign-in-alt">@Html.ActionLink("進入考試", "StartExam4", new { id = item.FExamPaperId })</i></button>
                        <button type="button" class="btn btn-outline-danger"><i class="fas fa-eye">@Html.ActionLink("查看結果", "epResult", new { id = item.FExamPaperId, stuId = 5, bingo = ViewBag.bingoList })</i></button>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

    @section Scripts {



        <script>
            $('#btnStart').click(function () {

            })







        </script>

    }

