@model ISpanSTA.ViewModel.CStartExam2ViewModel

@{
    ViewData["Title"] = "StartExam4";
}


<div class="container mt-5">
    <h1>@Model.examp.FName</h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="StartExam4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" value="@Model.student.FStudentNumber" />
                <div id="wrapper">
                    @*container fluid*@
                    <div class="container-fluid mt-3">
                        <div class="row">
                            @*試卷面板開始*@
                            <div class="col-md-9 col-sm-7">
                                @{ int count = 0;
                                    for (int i = 0; i < @Model.subject.Count; i++)
                                    {
                                        count++;
                                        <div id="Q:@count">
                                            <div class="card mb-3">
                                                <div class="card-header" id="Q:@count">
                                                    <div class="row">
                                                        <!--<div class="col-md-1">
                                                            <div class="row">
                                                                <a class="font-weight-bold">Q @count：</a>-->
                                                        @*<a class="font-weight-bold">單選</a>*@
                                                        <!--</div>
                                                        <div class="row">-->
                                                        @*<a class="text-info">5分</a>*@
                                                        <!--</div>
                                                        </div>-->

                                                        <div class="col-md-12">
                                                            <br /><br />
                                                            <div id="text" class="row">
                                                                <input type="hidden" asp-for="@Model.subject[i].FSujectId" class="form-control" />
                                                                <a class="font-weight-bold">Q @count：@Model.subject[i].FQuestion</a>
                                                            </div>
                                                            <br />
                                                            <br />
                                                            <div id="pic" class="row">

                                                            </div>
                                                        </div>
                                                        <div class="card-body">

                                                            <div id="option">
                                                                <div class="form-check">
                                                                    <input asp-for="record[i].FChoose" class="form-check-input" type="radio"
                                                                           id="exampleRadios1" value="1" name="FChoose_@count" style="margin:4px">
                                                                    <label class="form-check-label" for="exampleRadios1">
                                                                        A：@Model.subject[i].FOption1
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input asp-for="record[i].FChoose" class="form-check-input" type="radio"
                                                                           id="exampleRadios2" value="2" name="FChoose_@count" style="margin:4px">
                                                                    <label class="form-check-label" for="exampleRadios2">
                                                                        B：@Model.subject[i].FOption2
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input asp-for="record[i].FChoose" class="form-check-input" type="radio"
                                                                           id="exampleRadios1" value="3" name="FChoose_@count" style="margin:4px">
                                                                    <label class="form-check-label" for="exampleRadios1">
                                                                        C：@Model.subject[i].FOption3
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input asp-for="record[i].FChoose" class="form-check-input" type="radio"
                                                                           id="exampleRadios1" value="4" name="FChoose_@count" style="margin:4px">
                                                                    <label class="form-check-label" for="exampleRadios1">
                                                                        D：@Model.subject[i].FOption4
                                                                    </label>
                                                                </div>

                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <footer class="sticky-footer bg-white">
                                    <div class="container my-auto">
                                        <div class="copyright text-center my-auto">

                                        </div>
                                    </div>
                                </footer>
                            </div>
                            <!-- 試卷面板结束
                            <!-- 進度和試卷訊息面板開始,懸浮面板-->
                            <div style="position:fixed;top:20px;right:5px" class="col-md-3 col-sm-5">
                                <div class="navbar navbar-inverse navbar-fixed-top">
                                    <div class="navbar-inner">
                                        @*fluid 是偏移一部分*@
                                        <div class="container-fluid">
                                            <div class="card">
                                                <div class="card-header">

                                                </div>
                                                <div class="card-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 訊息部分開始 -->
                                <div class="card shadow-sm mb-3">
                                    <div class="card-header">
                                        <a class="h6 font-weight-bold text-gray-700">試卷資訊</a>
                                    </div>
                                    <div class="card-body">
                                        <br />
                                        <p class="h6  text-gray-700">姓名：@Model.student.FStudentName</p>
                                        @*<p class="h6  text-gray-700">科目： C##### </p>*@
                                        <p class="h6  text-gray-700">試卷： Test1 @Model.examp.FName</p>
                                    </div>
                                </div>
                                <!-- 訊息部分结束 -->
                                <!-- 計時部分开始 -->
                                <div class="card shadow-sm mb-3">
                                    <div class="card-body">
                                        <br /><br />
                                        剩餘時間:
                                        <br />
                                        <div id="clockdiv">
                                            @*<h1 style="color: red">
                                                <div class="minutes" style="float: left"> </div>
                                                <p style="float: left; color: red; font-size: large; font-weight: bold">:</p>
                                                <div class="seconds"></div>*@
                                            <h1 class="countdownTitle" style="color:red">Counter</h1>
                                            </h1>
                                        </div>

                                    </div>
                                </div>
                                <!-- 計時部分结束 -->
                                <div class="card shadow-sm mb-md-3">
                                    <div class="card-header">
                                        <a class="h6 font-weight-bold text-gray-700">答題卡</a>
                                    </div>
                                    <div class="card-body">

                                        <hr />
                                        <!-- 答題卡開始 -->
                                        <div class="row align-middle">
                                            @for (int n = 1; n <= @Model.subject.Count(); n++)
                                            {
                                                <div class="col-md-2 col-sm-4 mb-2">
                                                    @*超連結跳轉题目*@
                                                    <a href="#Q:@n" class="btn-sm btn-primary-outline btn-circle" id="@n">
                                                        @n
                                                    </a>
                                                </div>
                                            }

                                        </div>

                                    </div>
                                </div>
                                <!-- 答題卡结束 -->
                                <br /> <br /> <br />
                                <!-- 交卷部分開始 -->
                                @*<button class="btn btn-primary btn-block">提交</button>*@
                                <div class="form-group">
                                    <input type="submit" value="提交" class="btn btn-primary btn-block" />
                                </div>
                                <!-- 交卷部分结束 -->
                            </div>
                            <!-- 面板结束-->
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>


            //function radioChecked() {
            //    $("input[type='radio']").each(function (i) {
            //        if ($(this).attr("name") != 'unit') {
            //            if ($(this).is(":checked")) {
            //                count++;
            //                console.log('选中了' + count);
            //            }
            //        }
            //    });

            //}

        $(".form-check").find("input").click(function () {
            console.log("123");
            $("#1").css("background-color", "red");
        })




            const selOption = document.querySelector("#exampleRadios1");
            //selOption.addEventListener('click', function () {
            //  /*  alert("click123");*/
            //})


            const countdownClockTitle = document.querySelector(".countdownTitle");

           /* const addBtn = document.querySelector(".addBtn");*/
            let countdown;

            $(document).ready(function () {
                timer(@Model.examp.FTimeLimit*60);
            });



            const showTimer = (inputSeconds) => {
                const minutes = Math.floor(inputSeconds / 60);
                const remainderSeconds = inputSeconds % 60;
                countdownClockTitle.textContent = `
        ${minutes}:${remainderSeconds < 10
                        ? "0" + remainderSeconds
                        : remainderSeconds}`;
            }


            function timer(inputSeconds) {

                const now = Date.now();
                const done = now + inputSeconds * 1000;
                showTimer(inputSeconds);

                countdown = setInterval(() => {
                    const tiemleft = Math.round((done - Date.now()) / 1000);
                    if (tiemleft <= 0) {
                        clearInterval(countdown);
                        alert("時間到!")
                        return  // 結束執行setInterval，不再執行下面程式碼
                    }
                    showTimer(tiemleft)
                }, 1000)
            }



    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
